.header{
    &__nav {
        background-image: linear-gradient(to top, whitesmoke, rgb(102, 92, 92));
        position: sticky;
        top: 0px;
        display: flex;
        justify-content: space-between;
        align-items:center; 
        flex-wrap: wrap;
        padding: 0px 30px 0px 0px;
        z-index:1000;
    }
    &__li {
        display: inline;
        font-family: $Font-principal;
    }
    &__li a {
        color: $Color-secundario;
        text-decoration: solid;
    }
    &__logo {
        position:sticky;
        left: 0px;
        display: inline;
        width: 70px;
        height: 70px;
    }
    &__button{
        width: auto;
        height: 30px;
        border-radius: 10%;
        font-family: $Font-principal;
        text-align: center;
        background-image: linear-gradient(to top, rgb(102, 92, 92), whitesmoke);
        &:hover{
            background-image: linear-gradient(to top, whitesmoke, rgb(102, 92, 92));
        }
    } 
}
.nav__ul {
    list-style: none;
}