main{
    background-color: $Color-principal;
    height: auto;
}
button{
    width: auto;
    height: 30px;
    border: black solid 2px;
    border-radius: 10%;
    font-family: $Font-principal;
    text-align: center;
    background-image: linear-gradient(to top, rgb(102, 92, 92), whitesmoke);
}
button:hover{
    background-image: linear-gradient(to top, whitesmoke, rgb(102, 92, 92));
}

p{
    padding: 0px 16px 0px 16px;
    color: $Color-secundario;
    font-family: $Font-secundario;
}

h1{
    font-family: $Font-principal;
    text-align: center;
    color: $Color-secundario;
}
h2{
    font-family: $Font-principal;
    background-color: $Color-secundario;
    text-align: center;
    color: $Color-principal;
}
h3{
    color: whitesmoke;
}
h5{
    font-family: $Font-principal;
    color: $Color-secundario;
}
.form__lista {
    font-family: $Font-secundario;
    font-size: 100%;
    color: $Color-principal;
}
.form__formularios{
    font-family: $Font-secundario;
    font-size: 100%;
    margin: 30px;
    color: $Color-secundario;
}