.background__productos{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background__footer{
    background-position: auto;
    background-size: contain;
    background-repeat: no-repeat;
}
.tamaño__imagenes{
    width: 60px;
    height: 60px;
}