@import "variables";
@import "footer";
@import "main";
@import "header";
@import "operators";
@import "mediaqueries";

*{
    margin:0px;
    padding: 0px;
}
/* INICIO */
/* Main*/
.img__carrusel {
    width: 100%;
    object-fit: cover;
    height: 70vh !important;
}
h3{
    font-family: $Font-principal;
}
button{
    width: 100px;
    height: 30px;
    border: black solid 2px;
    border-radius: 10%;
    font-family: $Font-principal;
    font-size: 16px;
    background-image: linear-gradient(to top, white, black);
}
button:hover{
    background-image: linear-gradient(to top, black, white);
}
    .button__nav{
        font-family: $Font-principal;
        color: $Color-principal;
        background-image: linear-gradient(to top, white, black);
    }
    .button__nav:hover{
        background-image: linear-gradient(to top,  black, rgb(255, 255, 255));
    }
.texto__inicio{
    color: $Color-secundario;
}
/* PRODUCTOS */
/* Main Compra */
.main__compra{
    display: flex;
}
.compra{
    &__img{
        width: 400px;
        height: 500px;
        margin: 0px 30px 30px 30px;
    }
    &__h2{
        text-align: center;
    }  
    &__form--lista{
        font-family: $Font-secundario;
        font-size: 100%;
    }
}
.compra__margin{
    margin: 10px 0px 10px 0px;
}
.formuario{
    display:block
}
/* Main Sobre Nosotros */
.main{
    &__sobrenos{
        display: flex;
    }
    &__presentacion{
        margin-left: 16px;
    }
    &__ol{
        font-size: 150%;
        margin-left: 30px;
        color: whitesmoke;
    }
}
.h1__sobrenos{
    font-size: 200%;
}
.p__presentacion{
    font-size: 150%;
}

.info__carpinteros{
    display: flex;
    margin: 16px 5px 10px 5px;
}
.div__carpinteros{
    margin: 16px 16px 16px 16px;
}
.carpinteros{ 
    &__img{
    width: 100vw;
    height: 100vh;
    }
    &__ul{
    list-style: none;
    font-size: 100%;
    color: $Color-principal;
    }
}
.ustedes__img{
    width: 250px;
    height: 300px;
}
/* Main Contactos */
.contacto{
    &__main{
        display: flex;
        justify-content: center;
    }
    &__img{
        width: 400px;
        height: 600px;
        margin: 0px 30px 30px 30px;
    }
}
.color__letra--contacto{
    color: $Color-principal;
}